.dockerignore
desktop.ini
TO_DO_LIST.md
/components/Button.tsx
/data/urarts_data.db
/islands/Counter.tsx
/static/arts
/static/errors
/static/flags
/static/fonts
/static/signs
/static/symbols
/utils/db_migration.ts