.dockerignore
deno.lock
desktop.ini
TO_DO_LIST.md
/data/urarts_data.db
/islands/Counter.tsx
/static/arts
/static/errors
/static/fonts
/static/icons
/static/logo
/static/signs
/static/symbols
/static/tags
/static/textures
/utils/db/artist_art
/utils/db/country.ts
/utils/db/fact.ts
/utils/db/movement.ts
/utils/db/topic.ts
# Fresh build directory
_fresh/
