/* noUiSlider */
.noUi-handle {
  cursor: grab;
}

.noUi-marker-large,
.noUi-marker-sub,
.noUi-touch-area {
  background: var(--color-lighterdark);
}

.noUi-tooltip {
  font-size: 1.3rem;
}

.noUi-tooltip,
.noUi-value-large,
.noUi-value-sub {
  color: var(--color-lighterdark);
}

.noUi-value-large:before {
  content: "An ";
}

/* Vagues de couleurs
   - Gradient pour le slider : https://colorzilla.com/gradient-editor/#232a2d+0,b3b9b8+52,dadada+100
*/
.noUi-connect {
  background: var(--color-lighterdark);
  /* Old browsers */
  background: -moz-linear-gradient(left, var(--color-lighterdark) 0%, var(--color-gray) 52%, var(--color-white) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, var(--color-lighterdark) 0%, var(--color-gray) 52%, var(--color-white) 100%);
  /* Chrome10-25, Safari5.1-6 */
  background: linear-gradient(to right, var(--color-lighterdark) 0%, var(--color-gray) 52%, var(--color-white) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#232a2d', endColorstr='#dadada', GradientType=1);
  /* IE6-9 */
  animation: waveColors 5s ease infinite;
  background-size: 350% 350%;
}