/* 🎨 Palette Everblush
      https://github.com/Everblush/everblush
*/
:root {
    --color-dark: #141b1e;
    --color-lighterdark: #232a2d;
    --color-red: #e57474;
    --color-green: #8ccf7e;
    --color-yellow: #e5c76b;
    --color-blue: #67b0e8;
    --color-magenta: #c47fd5;
    --color-cyan: #6cbfbf;
    --color-gray: #b3b9b8;
    --color-white: #dadada;
    --shadow-size: 3px;
    --tape-edge-gray: #b7b49d;
    --tape-gray: #dbd8be;
    --transparent: rgba(213, 224, 249, 0);
}

/* Surligner un texte sélectionné en couleur */
::selection {
    background-color: var(--color-blue);
}

/* Cacher la scrollbar */
::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

/* Fonts */
@font-face {
    font-family: Caveat Brush;
    src: url(/fonts/CaveatBrush.ttf) format("truetype");
}

@font-face {
    font-family: Five Boroughs Handwriting;
    src: url(/fonts/FiveBoroughsHandwriting.otf) format("opentype");
}

@font-face {
    font-family: Kashima Brush;
    src: url(/fonts/Kashima.otf) format("opentype");
}

.font-brush {
    font-family: Caveat Brush, cursive;
}

.font-japanese {
    font-family: Kashima Brush;
}

.font-street {
    font-family: Five Boroughs Handwriting;
}

/* Twind v1 workaround */
@media (max-width: 440px) {
    .grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0px, 1fr)) !important;
    }
}

body {
    background: var(--color-white);
    -webkit-tap-highlight-color: transparent;
}

h1 {
    color: var(--color-lighterdark);
}

/* Cadre des artistes */
.artist-frame {
    overflow: hidden;
}

.artist-side {
    position: absolute;
    top: 12px;
    left: 84.7%;
    height: 100%;
    list-style-type: none;
}

.artist-side a {
    display: flex;
    align-items: center;
    margin: 12px;
    transform: translateX(300%);
    transition: transform 0.2s ease-in-out;
}

.artist-side a:nth-child(1) {
    margin-left: -6px;
}

.artist-frame:hover .artist-side a {
    transform: translateX(0);
}

.artist-frame:hover .artist-side a:nth-child(1) {
    transition-delay: 0.1s;
}

.artist-frame a,
.artist-frame a img {
    will-change: transform
}

@media (pointer: coarse) {
    .artist-side a {
        transform: translateX(0);
    }
}

/* Tippy.js */
.tippy-box[data-theme~='leonardo'] {
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 12px;
}

.tippy-box[data-theme~='urarts'] {
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 8px;
}

/* Cadres des œuvres */
.art-frame {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
}

.art-frame-type-0 img {
    -webkit-mask-image: url(../mural-mask.png);
    mask-image: url(../mural-mask.png);
    -webkit-mask-size: cover;
    mask-size: cover;
}

.art-frame-type-1 img {
    box-shadow: 5px 5px 10px;
}

.art-frame-type-2,
.art-frame-type-4 {
    background-color: #ddc;
    border: solid 1.8vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
}

.art-frame-type-2:before,
.art-frame-type-4:before {
    border-radius: 2px;
    bottom: -1vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -1vmin;
    position: absolute;
    right: -1vmin;
    top: -1vmin;
}

.art-frame-type-2:after,
.art-frame-type-4:after {
    border-radius: 2px;
    bottom: -1.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    position: absolute;
    top: -1.5vmin;
}

.art-frame-type-3 {
    background-color: #ddc;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    padding: 6vmin;
}

.art-frame-type-3:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
}

.art-frame-type-3:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
}

.art-frame img {
    max-width: 100%;
}

.art-frame-type-2 img,
.art-frame-type-3 img,
.art-frame-type-4 img {
    border: solid 2px;
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
}

.art-frame p {
    position: absolute;
    left: 0.5%;
    right: 0.5%;
    line-height: 0.7;
}

.art-frame-type-0 p {
    top: 1%;
    font-size: calc(0.875em + 1.7vw);
}

.art-frame-type-1 .frame-label {
    bottom: -3.4em;
}

.art-frame-type-2 .frame-label {
    top: -4.2em;
}

.frame-label .paper p {
    font-size: calc(0.675em + 0.4vw);
}

.art-frame-type-3 p {
    top: 2.1%;
    font-size: calc(0.7em + 0.4vw);
}

.art-frame-type-4 p {
    bottom: 4.1%;
    font-size: calc(0.7em + 0.4vw);
}

.art-polyptych-1,
.art-polyptych-2,
.art-polyptych-3,
.art-polyptych-5 {
    margin-top: 8vh;
    margin-bottom: 1.2vh;
}

.art-polyptych-1 {
    margin-right: 8vw;
    margin-left: 8vw;
}

.art-polyptych-2 {
    margin-right: 1vw;
    margin-left: 1vw;
}

.art-polyptych-3 {
    margin-right: 0.6vw;
    margin-left: 0.6vw;
}

.art-polyptych-5 {
    margin-right: 0.3vw;
    margin-left: 0.3vw;
}

.art-wrap-1 {
    margin-left: auto;
    margin-right: auto;
}

.art-wrap-2,
.art-wrap-3,
.art-wrap-5 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.art-wrap-5 .art-frame {
    display: flex;
}

.art-wrap-5 .art-frame img {
    align-self: center;
}

/* Vagues de couleurs
   - Gradient pour la barre de navigation : https://colorzilla.com/gradient-editor/#67b0e8+0,c47fd5+90,c47fd5+90,c47fd5+100
*/
.wave-colors {
    /* Old browsers */
    background: var(--color-blue);
    /* FF3.6-15 */
    background: -moz-linear-gradient(left, var(--color-blue) 0%, var(--color-magenta) 90%, var(--color-magenta) 90%, var(--color-magenta) 100%);
    /* Chrome4-9, Safari4-5 */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, var(--color-blue)), color-stop(90%, var(--color-magenta)), color-stop(90%, var(--color-magenta)), color-stop(100%, var(--color-magenta)));
    /* Chrome10-25, Safari5.1-6 */
    background: -webkit-linear-gradient(left, var(--color-blue) 0%, var(--color-magenta) 90%, var(--color-magenta) 90%, var(--color-magenta) 100%);
    /* Opera 11.10-11.50 */
    background: -o-linear-gradient(left, var(--color-blue) 0%, var(--color-magenta) 90%, var(--color-magenta) 90%, var(--color-magenta) 100%);
    /* IE10 preview */
    background: -ms-linear-gradient(left, var(--color-blue) 0%, var(--color-magenta) 90%, var(--color-magenta) 90%, var(--color-magenta) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: linear-gradient(to right, var(--color-blue) 0%, var(--color-magenta) 90%, var(--color-magenta) 90%, var(--color-magenta) 100%);
    /* IE6-8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67b0e8', endColorstr='#c47fd5', GradientType=1);
    animation: waveColors 20s ease infinite;
    background-size: 350% 350%;
}

@-webkit-keyframes waveColors {
    0% {
        background-position: 0% 7%;
    }

    50% {
        background-position: 100% 94%;
    }

    100% {
        background-position: 0% 7%;
    }
}

@keyframes waveColors {
    0% {
        background-position: 0% 7%;
    }

    50% {
        background-position: 100% 94%;
    }

    100% {
        background-position: 0% 7%;
    }
}

/* Charts */
.charts {
    -webkit-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 1170px) {
    .charts {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
}

/* Input */
.brush-input-box {
    border-width: 18px 18px 18px 18px;
    border-image: url(../brush-input-box.png) 27 round;
}

/* Ombre pour SVG */
.icon-svg,
#PaintPalette {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* Transition d'opacité */
.fade {
    opacity: 1;
    transition: opacity 280ms;
}

.fade-enter-active {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

/* Titres scotchés
   - CodePen : https://codepen.io/aitchiss/pen/QWKmPqx
*/
.paper {
    position: relative;
    background: linear-gradient(to bottom right, var(--color-gray), 20%, var(--transparent)), var(--color-white);
    min-width: 220px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--color-gray);
}

.paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--transparent), 50%, var(--color-gray), 51%, var(--transparent)), linear-gradient(to right, var(--transparent), 50%, var(--color-gray), 51%, var(--transparent));
}

.tape-section {
    position: absolute;
    width: 100%;
}

.top-tape {
    position: absolute;
    height: 2vmin;
    top: -5px;
    width: 110%;
    background-color: var(--tape-gray);
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
    opacity: 0.5;
}

.tape-section:first-of-type {
    top: 0;
}

.tape-section:last-of-type {
    bottom: 0;
}

.tape-section::before,
.tape-section::after {
    content: "";
    width: 8vmin;
    height: 2.6vmin;
    position: absolute;
    background-color: var(--tape-gray);
    opacity: 0.5;
    border-right: 1px dotted var(--tape-edge-gray);
    border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:first-of-type::after {
    transform: rotate(45deg);
    right: -4vmin;
    top: 0;
}

.tape-section:first-of-type::before {
    transform: rotate(-45deg);
    left: -4vmin;
}

.tape-section:last-of-type::after {
    transform: rotate(-45deg);
    right: -4vmin;
    top: -3vmin;
}

.tape-section:last-of-type::before {
    transform: rotate(45deg);
    left: -4vmin;
    bottom: 0;
}

/* Yeux Leonardo */
.eye {
    background: white;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.left-eye {
    width: 6px;
    height: 3px;
}

.right-eye {
    width: 4px;
    height: 2.5px;
}

.eyeball {
    background: #0a0905;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

.left-eyeball {
    width: 4px;
    height: 4px;
    transform: translate(-50%, -50%);
}

.right-eyeball {
    width: 3px;
    height: 3px;
    transform: translate(-60%, -50%);
}

.eyeshut {
    width: 8px;
    height: 4px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.eyeshut span {
    display: block;
    width: 100%;
    height: 20%;
    background: #8e7f6a;
    border-radius: 0 0 60% 60%;
    transition: 0.4s all;

    @keyframes blink {
        0% {
            height: 20%;
        }

        50% {
            height: 100%;
        }

        100% {
            height: 20%;
        }
    }
}