/* 🎨 Palette Everblush
      https://github.com/Everblush/everblush
*/
:root {
    --color-dark: #141b1e;
    --color-lighterdark: #232a2d;
    --color-red: #e57474;
    --color-green: #8ccf7e;
    --color-yellow: #e5c76b;
    --color-blue: #67b0e8;
    --color-magenta: #c47fd5;
    --color-cyan: #6cbfbf;
    --color-gray: #b3b9b8;
    --color-white: #dadada;
}

/* Surligner un texte sélectionné en couleur */
::selection {
    background-color: var(--color-blue);
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-white);
    border-radius: 2px;
}

html {
    scrollbar-color: var(--color-gray) var(--color-white);
}

/* Cadres */
.art-frame {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    text-align: center;
}

.art-frame-type-0 {
    box-shadow: 5px 5px 10px;
}

.art-frame-type-1 {
    background-color: #ddc;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    padding: 6vmin;
}

.art-frame-type-1:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin;
}

.art-frame-type-1:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin;
}

.art-frame-type-2,
.art-frame-type-3 {
    background-color: #ddc;
    border: solid 1.8vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
}

.art-frame-type-2:before,
.art-frame-type-3:before {
    border-radius: 2px;
    bottom: -1vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
    content: "";
    left: -1vmin;
    position: absolute;
    right: -1vmin;
    top: -1vmin;
}

.art-frame-type-2:after,
.art-frame-type-3:after {
    border-radius: 2px;
    bottom: -1.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
    content: "";
    left: -1.5vmin;
    position: absolute;
    right: -1.5vmin;
    top: -1.5vmin;
}

.art-frame img {
    max-height: 100%;
    max-width: 100%;
}

.art-frame-type-1 img,
.art-frame-type-2 img,
.art-frame-type-3 img {
    border: solid 2px;
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
}

.art-frame p {
    position: absolute;
    left: 8.5%;
    right: 8.5%;
    font-size: calc(0.4em + 0.7vw);
    line-height: 0.7;
}

.art-name-0 {
    bottom: -7.2%;
}

.art-name-1 {
    top: 2.1%;
}

.art-name-2 {
    top: -10.1%;
}

.art-name-3 {
    bottom: 4.1%;
}

.art-polyptych-1 {
    margin: 8vh 8vw;
}

.art-polyptych-2 {
    margin: 8vh 1vw;
}

.art-polyptych-3 {
    margin: 8vh 0.6vw;
}

.art-polyptych-5 {
    margin: 8vh 0.4vw;
}

.art-wrap-1 {
    margin-left: auto;
    margin-right: auto;
}

.art-wrap-2,
.art-wrap-3,
.art-wrap-5 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

/* Vague de couleurs
   Gradient : http://colorzilla.com/gradient-editor/#67b0e8+0,6cbfbf+52,8ccf7e+100
*/
.wave-colors {
    background: var(--color-blue);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, var(--color-blue) 0%, var(--color-cyan) 52%, var(--color-green) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, var(--color-blue) 0%, var(--color-cyan) 52%, var(--color-green) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, var(--color-blue) 0%, var(--color-cyan) 52%, var(--color-green) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#67b0e8', endColorstr='#8ccf7e', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    background-size: 350% 350%;
    animation: waveColors 8s ease infinite;
}

@-webkit-keyframes waveColors {
    0% {
        background-position: 0% 7%;
    }

    50% {
        background-position: 100% 94%;
    }

    100% {
        background-position: 0% 7%;
    }
}

@keyframes waveColors {
    0% {
        background-position: 0% 7%;
    }

    50% {
        background-position: 100% 94%;
    }

    100% {
        background-position: 0% 7%;
    }
}

/* Effet coup de pinceau */
.brush-wrap {
    position: relative;
    display: inline-block;
    padding: 3rem;
}

.brush-wrap:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path: url(#clip);
}

.brush-wrap p {
    font-size: 2rem;
    margin: 0;
    color: var(--color-white);
    font-style: italic;
}

/* Input */
.brush-input-box {
    border-width: 18px 18px 18px 18px;
    border-image: url(../brush-input-box.png) 27 round;
}

/* Icône SVG */
.icon-svg {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}